@tailwind base;
@tailwind components;
@tailwind utilities;


.div-line{
  box-shadow: -31px 0px 14px -29px #000000;
}


.textarea-shadow:focus{
  box-shadow: 0 0 10px #719ECE;
}

.yrl__div-main-checkbox{
  @apply mb-[20px;]
}

.yrl__label-checkbox{
  @apply text-[#ffffff] ml-[10px]
}

.list{
  @apply md:text-[25px]
}

.word{
  @apply md:text-[80px]
}



/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #b3b3b3;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #807f7f;
}
